body {
	font-family: 'Lato', sans-serif;
	color: #747784;
	font-weight:300;
}

.text-thin {
	font-weight: 100;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align:center;
}

.tight {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.text-right {
    text-align:right;
}

.text-left {
    text-align:left;
}

a {
    color:#556270;
    text-decoration:none;
    text-decoration:none;
}

a:hover {

    opacity:1;
    font-weight:bold;
}

article {
    padding:15px;
}

.paper-icon-button {
    float:right;
}

.paper-card {
    width:310px;
}

.logo-left,
.logo-right {
    max-width:100%;
    max-height:100%;
}

.title-container {
}

.grid-container {
    max-width:960px;
    margin:auto;
}

.cardlist-container {
    margin:auto;
}

.card-container {
     padding: 5px 5px 5px 5px;
}

.title-name {
    font-size:22px;
    color:#4ecdc4;
}

.title-desc {
    font-size:15px;
    color:#ff6b6b;
}