body {
	font-family: 'Lato', sans-serif;
	color: #747784;
	font-weight:300;
}

.text-thin {
	font-weight: 100;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align:center;
}

.tight {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.text-right {
    text-align:right;
}

.text-left {
    text-align:left;
}

a:active,
a:visited,
a:link {
    color:#4ecdc4;
    text-decoration:none;
    opacity:0.8;
}

a:hover {
    color:#4ecdc4;
    text-decoration:none;
    opacity:1;
}

article {
    padding:15px;
}

.logo-left,
.logo-right {
    max-width:100%;
    max-height:100%;
}

.title-container {
}

.grid-container {
    width:;
}

.cardlist-container {
    margin:auto;
}

.card-container {
     padding: 5px 5px 5px 5px;
}

.title-name {
    font-size:22px;
    color:#556270;
}

.title-desc {
    font-size:15px;
    color:#ff6b6b;
}